@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Georgian Computers online portal. You can here enjoy the ease of using it and ordering all your stuff.</p>
</div>
